body {
    background-image: url(/Gifs/fantasy.gif);

}

* {
    margin: 0;
}

.wordart {
    font-family: Arial, sans-serif;
    font-size: 80px;
    margin-left: 375px;
    margin-top: 30px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.wordart.blues .text {
    font-family: Impact, sans-serif;
      color: #24c0fd;
      -webkit-text-stroke: 0.01em #0000aa;
      filter: progid:DXImageTransform.Microsoft.Glow(Color=#0000aa,Strength=1);
      text-shadow: 0.13em -0.13em 0px #0000aa;
      letter-spacing: -0.05em;
}

.top h2 {
    text-align: justify;
    width: 700px;
    margin-top: 50px;
    margin-left: 375px;
    color: rgb(236, 115, 230);
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.top img {
    position: absolute;
    margin-left: 375px ;
    margin-top: 30px;
    width: 700px;
}

nav#menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: fixed;
    text-align: center;
    top: 0px;
    bottom: 0px;
    background-color: rgb(101, 48, 122);
    background-image: url(/Gifs/background3.gif);
    border: rgb(176, 225, 248) 10px solid;
    width: 190px;
    padding: 20px;
    
}

nav#menu h1 {
    font-size: 28px;
    padding-top: 55px;
    color: lawngreen;
    z-index: 2;
    font-family: 'Satisfy', cursive;
}

nav#menu img {
    height: 70px;
    padding-top: 90px;
    z-index: 2;
    
}

nav#menu li {
    padding: 2px;
    margin: 5px;
    color: rgb(247, 224, 241);
    font-family: 'Satisfy', cursive;
    font-size: 16pt;
    text-align: center;
    border: 2px solid rgb(55, 241, 111);
    align-content: center;
    
}

nav#menu a {
    color: rgb(243, 239, 239);
    text-decoration: underline;
}

audio#music {
	display: block;
	position: fixed;
    margin-left: 70px;
	top: 650px;
    width: 100px;
    
}

.side {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: fixed;
    top: 0px;
    bottom: 100%;
    margin-left: 1190px;  
    width: 250px;    
}

.side img:nth-of-type(1) {
    height: 260px;
    border: rgb(176, 225, 248) 7px solid;
}

.side img:nth-of-type(2) {
    height: 260px;
    border: rgb(176, 225, 248)7px solid;
}

.side img:nth-of-type(3) {
    height: 260px;
    border: rgb(176, 225, 248)7px solid;
    
}

.movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 450px;
}

.movies h1 {
    text-align: center;
    color: rgb(236, 115, 230);
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;;
}

.movies p {
    text-align: justify;
    width: 700px;
    font-size: 2em;
    color: rgb(236, 115, 230);
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    font-weight: bolder;
}

.movies img {
    width: 700px;
    height:300px;
}

.movies hr {
    border: 0;
    clear:both;
    display:block;
    width: 800px;               
    background-color: rgb(117, 250, 150);
    height: 6px;
}